# Entorno virtual
mi_entorno/
venv/
env/

# Base de datos
db.sqlite3

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración local
.env
local_settings.py

# Archivos del editor
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db